{include file="../app/view/auth/header.html" title="登录" /}

<section class="az-auth__panel az-card" aria-labelledby="login-title">
  <h1 id="login-title">登录</h1>
  <form class="az-auth__form" action="/login" method="post" data-auth-login>
    <div class="az-field">
      <label for="email">注册邮箱</label>
      <input class="az-input" id="email" name="email" type="email" autocomplete="email" required>
    </div>

    <div class="az-field">
      <label for="password">登录密码</label>
      <input class="az-input" id="password" name="password" type="password" autocomplete="current-password" required>
    </div>

    {if $verify.login_verification_code == '1'}
      {if $verify.captcha_provider == 'think-captcha'}
        <div class="az-field">
          <label for="code">验证码</label>
          <input class="az-input" id="code" name="code" type="text" autocomplete="off" required>
          {:captcha_img()}
        </div>
      {/if}
      {if $verify.captcha_provider == 'hcaptcha'}
        <fieldset class="az-field">
          <legend>验证码</legend>
          <input name="hcaptcha_result" type="hidden" value="">
          <div class="h-captcha" data-sitekey="{$verify.hcaptcha_site_key}"></div>
        </fieldset>
        <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
      {/if}
    {/if}

    <button class="az-button az-button--primary" type="submit" data-submit>登录</button>
  </form>

  <p><a href="/forget">重置密码</a> · <a href="/register">注册账户</a></p>
</section>

<script type="module" src="/static/js/auth/login.js"></script>
{include file="../app/view/auth/footer.html" /}
