{include file="../app/view/auth/header.html" title="注册" /}

{if $register.allow_public_reg == true}
<section class="az-auth__panel az-card" aria-labelledby="register-title">
  <h1 id="register-title">注册</h1>
  <form class="az-auth__form" action="/register" method="post" data-auth-register>
    <div class="az-field">
      <label for="email">注册邮箱</label>
      <input class="az-input" id="email" name="email" type="email" autocomplete="email" required>
    </div>

    <div class="az-field">
      <label for="passwd">设置登录密码</label>
      <input class="az-input" id="passwd" name="passwd" type="password" autocomplete="new-password" required>
    </div>

    <div class="az-field">
      <label for="repeat-passwd">再次输入密码</label>
      <input class="az-input" id="repeat-passwd" name="repeat_passwd" type="password" autocomplete="new-password" required>
    </div>

    {if $register.reg_email_veriy == true}
      <div class="az-field">
        <label for="verify-code">邮箱验证码</label>
        <input class="az-input" id="verify-code" name="verify_code" type="text" autocomplete="one-time-code" required>
      </div>
      <button class="az-button" type="button" data-request-code="/register/code">获取验证码</button>
    {/if}

    {if $verify.registration_verification_code == '1'}
      {if $verify.captcha_provider == 'think-captcha'}
        <div class="az-field">
          <label for="code">验证码</label>
          <input class="az-input" id="code" name="code" type="text" autocomplete="off" required>
          {:captcha_img()}
        </div>
      {/if}
      {if $verify.captcha_provider == 'hcaptcha'}
        <fieldset class="az-field">
          <legend>验证码</legend>
          <input name="hcaptcha_result" type="hidden" value="">
          <div class="h-captcha" data-sitekey="{$verify.hcaptcha_site_key}"></div>
          <noscript><p role="alert">hCaptcha 验证需要启用 JavaScript 后才能注册。</p></noscript>
        </fieldset>
        <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
      {/if}
    {/if}

    <button class="az-button az-button--primary" type="submit" data-submit>注册</button>
  </form>

  <p><a href="/login">返回登录</a></p>
</section>
{else /}
<section class="az-auth__panel az-card" aria-labelledby="register-title">
  <h1 id="register-title">注册</h1>
  <p>管理员未开放公共注册。如有需要，请联系管理员。</p>
  <p><a href="/login">返回登录</a></p>
</section>
{/if}

<script type="module" src="/static/js/auth/register.js"></script>
{include file="../app/view/auth/footer.html" /}
